<div class="layout">
  <!-- HEADER GLOBAL -->
  <header class="topbar shadow-sm">
    <div class="topbar__left">
      <div class="brand">
        <span class="brand__logo">Be3</span>
        <span class="brand__text">Cadastro de Pacientes</span>
      </div>
    </div>

    <nav class="topbar__nav">
      <a
        routerLink="/pacientes"
        routerLinkActive="active-link"
        class="topbar__link"
        >Pacientes</a
      >
      <!-- espaço pra futuras seções -->
      <!-- <a routerLink="/dashboard" routerLinkActive="active-link" class="topbar__link">Dashboard</a> -->
    </nav>
  </header>

  <!-- CONTEÚDO DAS PÁGINAS -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
